.main-quote-section-wrapper {
    background-image: url('img/korthia.jpg');
    align-items:center;
}

.nav-item:nth-child(2) > a {
    text-decoration:underline 2px;
}

.korthia-section-wrapper {
    background-color: #D9D9D9;
}