.main-quote-section-wrapper {
    background-image: url('img/korthia.jpg');
    align-items:center;
}

.nav-item:nth-child(2) > a {
    text-decoration:underline 2px;
}

.korthia-section-wrapper {
    background-color: #D9D9D9;
}

.map-section {
    grid-template-columns:1fr;
}

.map-section-wrapper {
    background-color: #E3E3E3;
}

footer {
    background-color: #D9D9D9;
}

@media (max-width:1023px) {
    .nav-item:nth-child(2) > a {
        text-decoration:none;
    }
}
