.main-quote-section-wrapper {
    background-image: url('img/torghast2.png');
    align-items:center;
}

.nav-item:nth-child(1) > a {
    text-decoration:underline 2px;
}

.sanctum-section-wrapper {
    background-color:#D9D9D9;
}